- pandas version 확인

In [1]:
import pandas as pd
pd.__version__

'1.4.4'

# Series Data type

- Numpy's ndarray + 숫자가 아닌 다른 type의 index (E.g. 문자열)

In [2]:
# 첫번째 방법
s2 = pd.Series(
    [1,2,3,4],
    index=['a','b','c','d']
)
s2.head()

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
# 두번째 방법
s2 = pd.Series(
    {'a':1,'b':2,'c':3,'d':4,'e':5}
)
s2.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64

- Series는 한가지 data type만 가지고 있을 수 있음

## nan과 관련된 함수

In [4]:
import numpy as np

In [5]:
np.nan

nan

In [6]:
s = pd.Series([10,0,1,1,2,3,4,5,6,np.nan])

len(s)
s.count()

9

- 아래와 같이 import를 해서 설정해주면 결과값이 여러개 나오도록 설정이 가능하다

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
s = pd.Series([10,0,1,1,2,3,4,5,6,np.nan])

len(s)
s.shape
s.count()
s

10

(10,)

9

0    10.0
1     0.0
2     1.0
3     1.0
4     2.0
5     3.0
6     4.0
7     5.0
8     6.0
9     NaN
dtype: float64

In [9]:
s.unique()

array([10.,  0.,  1.,  2.,  3.,  4.,  5.,  6., nan])

In [10]:
s.value_counts()

1.0     2
10.0    1
0.0     1
2.0     1
3.0     1
4.0     1
5.0     1
6.0     1
dtype: int64

## index label을 기준으로 Series간에 operation이 일어남

- Data의 '순서'가 아니라 index label이 자동으로 정렬되어 연산이 진행됨!

In [12]:
s3 = pd.Series([1,2,3,4], index=['a','b','c','d'])
s4 = pd.Series([4,3,2,1], index=['d','c','b','a'])

s3
s4
s3 + s4

a    1
b    2
c    3
d    4
dtype: int64

d    4
c    3
b    2
a    1
dtype: int64

a    2
b    4
c    6
d    8
dtype: int64